* {
    font-family: 'Poppins', sans-serif
}


.navbar {
    background-color: rgba(155, 88, 88, 0.5);
}

.navbar-brand {
    font-weight: 500;
}

.nav-link {
    color: black;
    font-weight: 500;
}